#contact {
  .content-container {
    padding: 16px 1.8em;

    .contact-container {
      display: grid;
      grid-template-columns: 1fr;

      div {
        display: flex;
        justify-content: center;
      }

      .contact-logo-container {
        margin: 1.8em 0px;

        .contact-logo {
          width: 36%;
        }

        .contact-logo:after {
          background-repeat: no-repeat;
          background-size: 100% 100%;
          content: '';
          display: block;
          padding-bottom: 100%; 
          flex: 1;
        }

        #contact-logo-0:after {
          background-image: url('../images/email_icon.png');
        }

        #contact-logo-1:after {
          background-image: url('../images/twitter.png');
        }

        #contact-logo-2:after {
          background-image: url('../images/github.png');
        }
      }
    }
  }
}

@mixin conatct-landscape {
  #contact {
    .sub-section-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 0.4fr 1fr;
    }

    .title-container {
      grid-column: 1/4;
    }

    .content-container {
      padding: 16px 0px;

      .contact-container {
        .contact-link {
          font-size: 0.7em;                    
        }

        .contact-logo-container {
          .contact-logo {
            width: 45%;
          }
        }
      }
    }
  }
}

/* devices from 320px to 812px width landscape */

@media only screen 
and (min-device-width: $iphone_5SE_min_width) 
and (max-device-width: $iphone_x_max_width)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  @include conatct-landscape();
}

/* devices from minimun of 813px width landscape */

@media only screen 
and (min-device-width: $desktop_min_width) 
and (orientation: landscape) {
  @include conatct-landscape();
  #contact {
    padding-left: 4%;
    min-height: unset;
  }
}
