#experience {
    background: $background_color_two;
    color: $font_color_one;
    justify-content: center;

    .content-container {
    text-align: center!important;
    }
}

/* devices from 320px to 812px width landscape */

@media only screen 
  and (min-device-width: $iphone_5SE_min_width) 
  and (max-device-width: $iphone_x_max_width)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      #experience {
          .sub-section-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
          }

          .title-container {
              grid-column: 1/4;
          }
      }
}