#portfolio {
  background-color: $background_color_three;
  color: $font_color_one;

  .reference-metadata {
    .reference-title {
      padding-bottom: 1em;
    }

    padding: 0px 0.7em;
  }

  .reference-link {
    background-color: $background_color_one;
    display: flex;
    justify-content: center;
    padding: 0.7em 0px;
    margin: 0.6em 0px;
    align-items: center;

    .reference-icon {
      width: 7%;
      padding: 0px 1%;
    }

    .reference-icon:after {
      background-image: url('../../public/assets/github_reference_logo.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
}

@mixin landscape-view {
  #portfolio {
    .sub-section-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 0.4fr repeat(2, 1fr);

      .title-container {
        grid-column: 1/3;
      }

      .content-container {
        display: flex;
        flex-direction: column;

        .reference-metadata {
          flex: 1;
        }
      }

      .content-container:last-child {
        grid-column: 1/3;
        padding-left: 30%;
        padding-right: 30%;
      }
    }
  }
}

/* devices from 320px to 812px width landscape */

@media only screen 
and (min-device-width: $iphone_5SE_min_width) 
and (max-device-width: $iphone_x_max_width)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
  @include landscape-view();
}

/* devices from minimun of 813px width landscape */

@media only screen 
and (min-device-width: $desktop_min_width) 
and (orientation: landscape) {
  @include landscape-view();
}
