doctype html
html
	head
		title= title
		link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet',href='/stylesheets/style.css')
		link(rel='stylesheet',href='/stylesheets/header.css')
	body(ng-app='vctr')
		header

			button(class='btn btn-default btn-lg',id='responsive-menu')
				span(class="glyphicon glyphicon-align-justify",id='menu-icon')
			//
				List menu on the rigth
			ul
				a(href='#/about')
					li
						| About
				a(href='#/blog')
					li
						| Blog
				a(href='#/Cv')
					li
						| Cv
				a(href='#/contact')
					li
						| Contact


		div(id='content',ng-view)
		//
			block content

	script(type="text/javascript",src="/bower_components/angular/angular.min.js")
	script(type="text/javascript",src="/bower_components/angular-route/angular-route.min.js")
	script(type="text/javascript",src="/bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript",src="/javascripts/app.js")
	script(type="text/javascript",src="/javascripts/directives/main.js")
	script(type="text/javascript",src="/javascripts/services/main.js")
	script(type="text/javascript",src="/javascripts/controllers/main.js")
	script(type="text/javascript",src="/stylesheets/js/headers.js")
