doctype html
html
	head
		title= title
		link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet',href='/stylesheets/style.css')
		link(rel='stylesheet',href='/stylesheets/header.css')
		link(rel='stylesheet',href='/stylesheets/contents.css')
		link(rel='stylesheet',href='/stylesheets/about.css')
	body(ng-app='vctr')
		header

			button(class='btn btn-default btn-lg',id='responsive-menu')
				span(class="glyphicon glyphicon-align-justify",id='menu-icon')
			span(id='sharebox')
				a(id='ttr',href='http://twitter.com/vctr90',target='_blank')
					img(src='/images/Twitter_logo_white.png',class='share_icon')
				a(id='gth',href='http://github.com/vctr90',target='blank')
					img(src='/images/github-6-xxl.png',class='share_icon')
				a(id='g+',href='https://google.com/+VictorRivas_vctr',target='_blank')
					img(src='/images/google-plus-3-512.png',class='share_icon')
				a(id='g+',href='mailto:vctr90w@gmail.com')
					img(src='/images/email-2-256.png',class='share_icon')



			//
				List menu on the rigth
			ul
				a(href='#/about')
					li(id='about')
						| About
				a(href='http://vctr90.github.io',target='_blank')
					li(id='blog')
						| Blog
				a(href='https://www.dropbox.com/s/3ijxkbnygzs9slm/CVdefinitive.pdf',target='_blank')
					li(id='cv')
						| Cv
				a(href='#/projects')
					li(id='projects')
						| Projects

			a(href='/',class='main_link')
				| /


		div(id='content',ng-view)
		//
			block content

	script(type="text/javascript",src="/bower_components/angular/angular.min.js")
	script(type="text/javascript",src="/bower_components/angular-route/angular-route.min.js")
	script(type="text/javascript",src="/bower_components/jquery/dist/jquery.min.js")
	script(type="text/javascript",src="/javascripts/app.js")
	script(type="text/javascript",src="/javascripts/directives/main.js")
	script(type="text/javascript",src="/javascripts/services/main.js")
	script(type="text/javascript",src="/javascripts/controllers/main.js")
	script(type="text/javascript",src="/stylesheets/js/headers.js")
	//
		script(type="text/javascript",src="/stylesheets/js/main_handler.js")
