div(class='ctnt',id='about')
	img(src='/images/me.jpeg',class='avatar')
	div(id='extract')
		section(id='about-extract',class='pragraph')
			table(id='table')
				tr
					td(class='left-cell')
						| Name: 
					td(class='right-cell')
						| Victor Anibal Rivas Aguirre
				tr
					td(class='left-cell')
						| Age: 
					td(class='right-cell')
						| 24
				tr
					td(class='left-cell')
						| Location:
					td(class='right-cell')
						| Venezuela
				tr
					td(class='left-cell')
						| Interests: 
					td(class='right-cell')
						| Soccer, tennis, guittar, snowboarding, programming, economics and learning about new stuff.
				tr
					td(class='left-cell')
						| Sports I practice: 
					td(class='right-cell')
						| Tennis and soccer.
				tr
					td(class='left-cell')
						| Programming strongs: 
					td(class='right-cell')
						| Web development in general: Javascript, PHP and MySql
				tr
					td(class='left-cell')
						| Spoken languages: 
					td(class='right-cell')
						| Spanish, English
