div(id='resume',class='ctnt')
	img(src='/images/me.jpeg',class='avatar')
	div(id='extract')
		p(class='bold_font pragraph')
			| God of my own creations...

		p
			| Javascript (NodeJs, AngularJs, jQuery and more...), PHP and MySql developer.
