div(class='ctnt')

	h2(class='pragraph')
		| 1. SochessJs
	p(class='pragraph long_paragraph')
		| A half-chess game to be played on Twitter with your friends
	p(class='pragraph')
		| Technologies: nodeJs, socketJs, passport, jQuery, MongoDb.
	p(class='pragraph')
		| Version: 0.0.1 beta.
	section(class='project_links')
		a(href='http://sochessjs.herokuapp.com',target='_blank',class='pragraph')
			| Visit it
		span(class='pragraph')
			|  / 
		a(href='http://github.com/vctr90/sochessJs',target='_blank',class='pragraph')
			| Repo

	h2(class='pragraph')
		| 2. Gettag
	p(class='pragraph long_paragraph')
		| It is a simple tool for developers which can build css/js tag references for web projects (for html and jade files). The tags can be built based on CDN source, from any valid js/css url and from your local computer.
	p(class='pragraph')
		| Technologies: nodeJs, AngularJs.
	p(class='pragraph')
		| Version: 0.0.1 beta.
	section(class='project_links')
		a(href='http://gettag.herokuapp.com',target='_blank',class='pragraph')
			| Visit it
		span(class='pragraph')
			|  / 
		a(href='http://github.com/vctr90/gettag',target='_blank',class='pragraph')
			| Repo

	h2(class='pragraph')
		| 3. FormGenerator
	p(class='pragraph long_paragraph')
		| This is also a tool for web development that alows you to create html form tags from a web ui.
	p(class='pragraph')
		| Technologies: AngularJs.
	p(class='pragraph')
		| Status: In construction (reorganize).
	section(class='project_links')
		a(href='http://github.com/vctr90/FormGenerator',target='_blank',class='pragraph')
			| Repo
