.avatar{
	/*position:absolute;
	left:39%;
	top:64px;*/
	margin-bottom: 4%;
	width:21%;
	border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	height:auto;
}
.ctnt#resume{
}
.ctnt{
	width:100%;
	/*margin-left:2%;
	margin-top:20px;*/
	text-align:center;
	padding-top:6%;
	background-color:black;
	background: rgba(0, 0, 0, 0.82);
}






@media only screen and (min-width: 150px) and (max-width:580px){

#content{
}
.avatar{
	/*position:absolute;
	left:39%;
	top:64px;*/
	margin-bottom: 4%;
	width:21%;
	border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	height:auto;
}
.ctnt#resume{
}
.ctnt{
	width:100%;
	/*margin-left:2%;
	margin-top:20px;*/
	text-align:center;
	padding-top:6%;
	background-color:black;
	background: rgba(0, 0, 0, 0.82);
}

#extract p.bold_font{
	font-weight:bold;
	font-size:185%;
}

#extract{
	color:rgb(190, 190, 190);
	font-size:159%;
	font-weight:bold;
}

.pragraph{
	color:white;
	text-decoration:none;
}
.pragraph:hover{
	color:white;
}

.project_links{
	font-size: 116%;
	font-weight: bold;
}

extract{
	width: 84%;
	margin-left:8%;	
}

#table{
	border:solid white;
	text-align: left;
	font-weight:initial;
	font-size: 74%;
	width:100%
}

#table td{
	padding-top:1%;
}

.left-cell{
	width: 23%;
	font-weight:bold;
}

.right-cell{
	
}
}
