#content{
}
.avatar{
	position:absolute;
	left:39%;
	top:64px;
	width:21%;
	border-radius:150px;
	-moz-border-radius:150px;
	-webkit-border-radius:150px;
	height:auto;
}
.ctnt#resume{
}
.ctnt{
	width:100%;
	/*margin-left:2%;
	margin-top:20px;*/
	text-align:center;
	padding-top:22%;

	background-color:black;
	background: rgba(0, 0, 0, 0.82);
}

#extract p.bold_font{
	color:white;
	font-weight:bold;
	font-size:196%;
}

#extract p{
	color:rgb(190, 190, 190);
	font-size:170%;
	font-weight:bold;
}

#extract{
	width: 74%;
	margin-left:12%;	
}
