#content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @mixin menu-toggle-transition {
    $menu-toggle-transition:  transform 0.2s;
    -webkit-transition: $menu-toggle-transition;
    transition: $menu-toggle-transition;
  }
  scroll-behavior: smooth;

  @import './menu.scss';

  /* main content */

  #main-content {
    background: $font_color_one;
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    order: 1;
    overflow: auto;

    .section {
      min-height: 100vh;
      text-align: center;
    }

    .company-logo {
      background-image: url('../../public/assets/logo-bix.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 7em;
      background-position: center;
      margin: 1em 0px;
    }

    @import './sections.scss';

  /* end of main content */
  }
}