$background_color_one: #ff9900;
$font_color_one: white;
$background_color_two: #b7b7b7;
$background_color_three: #434343;

/* Resolutions */

/* iPhone X */
$iphone_x_min_width: 375px;
$iphone_x_max_width: 812px;

/* iPhone 5/SE */
$iphone_5SE_min_width: 320px;
$iphone_5SE_max_width: 374px;

$desktop_min_width: 813px;